
.registerbtn {
  background-color: #333;
  color: white;
  padding: 16px 20px;
  margin-right: 20%;
  border: none;
  width: 40%;
  opacity: 0.9;
  align-content: center;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.registerbtn:hover {
  opacity:1;
}

.registerbtn:focus {
    outline: none;
}

@keyframes jump {
  0%   {transform: translate3d(0,0,0) scale3d(1,1,1);}
  40%  {transform: translate3d(0,30%,0) scale3d(.7,1.5,1);}
  100% {transform: translate3d(0,100%,0) scale3d(1.5,.7,1);}
}

.jump {
  transform-origin: 50% 50%;
  animation: jump .5s linear alternate infinite;
  margin-right: 5%;
}

.input-info, select {
    float: left;
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid saddlebrown;
    border-radius: 4px;
    box-sizing: border-box;
    position: absolute;
    left: 20%;
}

select:focus {
    outline: none;
}

div .detail {
    border-radius: 5px;
    padding: 20px;
}

.detail label {
    position: relative;
    top: 15px;
}

.start {
    text-align: center;
}

.start h3 {
    color: #a0522d;
    margin-bottom: 0px;
    background: white;
    padding: 5px;
}

.start h4 .start h2 {
    padding: 5px;
}

.start h1 {
    color: #cd853f;
    font-size: 50px  ;
    text-align: center ;
}

div .detail {
    border-radius: 5px;
    padding: 20px;
}

.detail {
    display: inline-block;
    margin-bottom: 6px;
    width: 70%;
    font-weight: bold;
}

.check {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 70%;
    padding: 0px;
    font-weight: normal;
    position: relative;
    right: 20px;
    align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
    background: #cd853f;
}

li {
    float: left;
    width: 25%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    background: #cd853f;
}

.aprrove {
    margin-top: 50px;
}

.post {
    height: 500px;
}